<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FromEmailAddress" value="ravali.poondla@gmail.com"/>
    <add key="username" value="rpoondla"/>
    <add key="password" value="12345"/>
    <add key="localPath" value="C:\Users\rpoondla\Documents\Visual Studio 2015\Projects\OneNoteApplication\OneNoteFiles"/>
    <add key="RemotePath" value="\\10.213.154.154\f\Ravali\ON"/>
    <!-- For Disk Logging-->
    <add key="ExceptionLogFilePath" value="C:\OneNoteAppException\OneNoteExceptionDetails.txt"/>
    
    <!--Disk Logging part ends-->
  </appSettings>
</configuration>